$color-morado: #872FA8;
$color-verde: #BDDB4F;
$color-blanco: #F8F9F7;
$color-negro: #050402;


* {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-morado;
}

img {
    width: 100%;
    height: auto;
}

.border-n {
    border: none !important;
}


.contain-btn {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    // background: chartreuse;


    .btn-gral {
        padding: 20px 30px;
        width: 250px;
        text-align: center;
        background: #872FA8;
        text-decoration: none;
        color: $color-blanco;
        transition: .1s ease-in;
        -webkit-transition: .1s ease-in;
        -o-transition: .1s ease-in;
        border-radius: 8px;

        &:hover {
            background: $color-negro;
            box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
            color: $color-blanco;
            transition: .1s ease-in;
            -webkit-transition: .1s ease-in;
            -o-transition: .1s ease-in;
        }
    }
}

.contain-btn-kits {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: chartreuse;


    .btn-kits {
        padding: 20px 30px;
        width: 250px;
        text-align: center;
        background: #872FA8;
        text-decoration: none;
        color: $color-blanco;
        transition: .1s ease-in;
        -webkit-transition: .1s ease-in;
        -o-transition: .1s ease-in;
        border-radius: 8px;

        &:hover {
            background: $color-negro;
            box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
            color: $color-blanco;
            transition: .1s ease-in;
            -webkit-transition: .1s ease-in;
            -o-transition: .1s ease-in;
        }
    }
}

@media(max-width:500px) {
    .contain-btn {
        justify-content: center !important;

    }
}

main {
    
    header {
        .menu-bar-pc {
            // background: $color-blanco;
            width: 100%;
            position: absolute;
            z-index: 99;
            top: 0;
            padding: 0 2.25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-height: 5.875rem;
            // border-bottom: 1px solid #d1d1d1;
    
            // .logo {
            //     width: 100px!important;
            // }
    
            .menu-principal {
                a {
                    padding: 0 0.5625rem;
                    text-decoration: none;
                    color: $color-morado;
                }
            }
    
            .top-redes {
                a {
                    padding: 0 0.5625rem;
                    text-decoration: none;
                    i{
                        color: $color-negro;
                        font-size: 1.65rem;
                    }
                }
            }
    
    
        }
    
        .menu-bar-movil {
            background: $color-blanco;
            width: 100%;
            position: fixed;
            z-index: 99;
            top: 0;
            padding: 0 2.25rem;
            display: none;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-height: 5.875rem;
            border-bottom: 1px solid $color-blanco;
        }
    
            // .logo {
            //     max-width: 3.125rem;
            // }
    
            .burger-menu {
                cursor: pointer;
                font-size: 2.1875rem;
    
            }
    
            .slideMenu {
                position: fixed;
                top: 5.875rem;
                left: -80%;
                background: $color-blanco;
                text-align: center;
                padding: 1.25rem 2.25rem;
                width: 80%;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
    
                &.active {
                    left: 0;
                }
    
                .top-redes {
                    margin-bottom: 0.625rem;
    
                    a {
                        padding: 0 0.5625rem;
                    }
                }
    
                .menu-principal {
                    a {
                        display: block;
                        padding: 0.625rem 0;
                        border-top: 1px solid #d1d1d1;
                    }
                }
            }
        }
    

    // max-width: 1400px;
    width: 100%;





    .portada {
        background: #BDDB4F;
        width: 100%;
        height: 100vh;
        // opacity: .1; 
        // position: relative;
        z-index: 1;
        background-image: url(../img/naturea-portada.jpg);
        background-position: center;
        background-size: cover;

        .texto-portada {
            position: absolute;
            top: 50%;
            left: 13%;
            transform: translate(0, -40%);
            width: 40%;

            .sub-title {
                color: $color-negro;
            }

            h1 {
                font-weight: 700;
            }
        }



    }

    @media (max-width:500px) {
        .texto-portada {
            width: 100% !important;
            text-align: center;
            left: 0 !important;
            margin: 0 auto;
        }
        header {
            .menu-bar-pc {
                display: none;
            }
    
            .menu-bar-movil {
                display: flex;
            }
        }
    }

.contadores_principal{
    background: $color-blanco;
    display: flex;
    justify-content: center;

    .contador{
        text-align: center;
        .contador_cantidad{
            font-weight: 600;
            color: $color-morado;
        }
        h4{
            color: $color-negro;
        }
    }
}

    // .runners {
    //     background: $color-blanco;
    //     height: auto;
    //     padding: 30px 0;
    //     align-items: center;
    //     display: flex;

    //     div {
    //         p {
    //             font-weight: 700;
    //             color: $color-negro
    //         }
    //     }
    // }


    .why-natureakits {

        .card {
            .card-img {
                img {
                    width: auto;
                    height: 100px;
                }
            }
        }
    }



    .back-flower {

        height: 380px;
        align-items: center;
        display: flex;
        background-image: url(../img/aceites-esenciales.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .title-kits {
            h2 {
                font-weight: 400;
                color: $color-morado;
            }
        }
    }

}

@keyframes aparecer {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}