* {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #872FA8;
}

img {
  width: 100%;
  height: auto;
}

.border-n {
  border: none !important;
}

.contain-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contain-btn .btn-gral {
  padding: 20px 30px;
  width: 250px;
  text-align: center;
  background: #872FA8;
  text-decoration: none;
  color: #F8F9F7;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  border-radius: 8px;
}

.contain-btn .btn-gral:hover {
  background: #050402;
  -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  color: #F8F9F7;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.contain-btn-kits {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contain-btn-kits .btn-kits {
  padding: 20px 30px;
  width: 250px;
  text-align: center;
  background: #872FA8;
  text-decoration: none;
  color: #F8F9F7;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  border-radius: 8px;
}

.contain-btn-kits .btn-kits:hover {
  background: #050402;
  -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  color: #F8F9F7;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

@media (max-width: 500px) {
  .contain-btn {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

main {
  width: 100%;
}

main header .menu-bar-pc {
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.875rem;
}

main header .menu-bar-pc .menu-principal a {
  padding: 0 0.5625rem;
  text-decoration: none;
  color: #872FA8;
}

main header .menu-bar-pc .top-redes a {
  padding: 0 0.5625rem;
  text-decoration: none;
}

main header .menu-bar-pc .top-redes a i {
  color: #050402;
  font-size: 1.65rem;
}

main header .menu-bar-movil {
  background: #F8F9F7;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.875rem;
  border-bottom: 1px solid #F8F9F7;
}

main header .burger-menu {
  cursor: pointer;
  font-size: 2.1875rem;
}

main header .slideMenu {
  position: fixed;
  top: 5.875rem;
  left: -80%;
  background: #F8F9F7;
  text-align: center;
  padding: 1.25rem 2.25rem;
  width: 80%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main header .slideMenu.active {
  left: 0;
}

main header .slideMenu .top-redes {
  margin-bottom: 0.625rem;
}

main header .slideMenu .top-redes a {
  padding: 0 0.5625rem;
}

main header .slideMenu .menu-principal a {
  display: block;
  padding: 0.625rem 0;
  border-top: 1px solid #d1d1d1;
}

main .portada {
  background: #BDDB4F;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-image: url(../img/naturea-portada.jpg);
  background-position: center;
  background-size: cover;
}

main .portada .texto-portada {
  position: absolute;
  top: 50%;
  left: 13%;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
  width: 40%;
}

main .portada .texto-portada .sub-title {
  color: #050402;
}

main .portada .texto-portada h1 {
  font-weight: 700;
}

@media (max-width: 500px) {
  main .texto-portada {
    width: 100% !important;
    text-align: center;
    left: 0 !important;
    margin: 0 auto;
  }
  main header .menu-bar-pc {
    display: none;
  }
  main header .menu-bar-movil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main .contadores_principal {
  background: #F8F9F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contadores_principal .contador {
  text-align: center;
}

main .contadores_principal .contador .contador_cantidad {
  font-weight: 600;
  color: #872FA8;
}

main .contadores_principal .contador h4 {
  color: #050402;
}

main .why-natureakits .card .card-img img {
  width: auto;
  height: 100px;
}

main .back-flower {
  height: 380px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/aceites-esenciales.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .back-flower .title-kits h2 {
  font-weight: 400;
  color: #872FA8;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ocultar {
  opacity: 0;
}

.animar {
  -webkit-animation: aparecer 1.3s;
          animation: aparecer 1.3s;
}
/*# sourceMappingURL=style.css.map */